:root{
    --primary-color:#a3a3a3;
    --secondary-color:#FFFFFF;
    --mainbackgound-color:#020203;
    --secondarybackground-color:#05122D;
    --active-color:#C13031;
   
}

body{
    margin: 0;
  background-color: var(--mainbackgound-color);
  color:var(--primary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.container{
    display: flex;
    flex-wrap: nowrap;
}

.sidebar-container{
    border-right: 0.2px solid gray;
    width: 15%;
    margin-top: 20px;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    
   gap:10px;
   align-items: center;
    align-content:space-around;
}
.logo{
    font-weight: bold;
    color:var(--secondary-color);
    margin-bottom: 20px;
    height:30px;
   
}
.logo span{
 color: #C13031;
}
.new-feed{
    color: var(--primary-color);
}
.new-feed p{
    font-size: small;
}
.new-feed div{
    height:35px;
    display: flex;
    justify-content: start;
    font-size: 13px;
    font-weight: 900;
    gap:10px;
}

.new-feed i{
   
    font-size: 18px;
    
}

.new-feed .active{
    color:var(--secondary-color)
}
.new-feed .active i{
    color: var(--active-color);

}

.following{
    color: var(--primary-color);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap:10px;
    font-size: small;
  
}
.followers{
    display: flex;
    flex-direction: row;
    gap:5px;
}
.follower-photo img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.followers .online{
    color: green;

    float: right;
}
.load-more{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    font-size: 16;
    align-items: center;
}
.loadmoreicon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: var(--active-color);
    color: var(--secondary-color);

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logout{
    position: fixed;
    bottom: 0;
    display: flex;
    gap:10px;
    font-size: 15px;
    
    align-self:center;
}

.logout i{
    color:var(--secondary-color);
    font-size: 24px;
}



.main{
    width: 82%;
   margin-top: 20px;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;


}
.nav-tools{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 5px;
    color: var(--secondary-color);
 
}
.toggler i{
   font-size: 20px;
}
.search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 32px;
    border:1px solid gray;
    border-radius: 22px;
    width: 270px;
}
.search i{
    font-size: 20px;
}

.search-field{
    background-color: var(--mainbackgound-color);
    height: 20px;
    width: 150px;
    border:none;
    color: var(--primary-color);
    font-size: 15px;

}


.nav-tools i{
    font-size: 25px;
   
}

.profile-pic{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.hero{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.hero-poster{
    width: 80%;
    height: 330px;
    background: url(./images/photo_2023-01-11_22-43-17.jpg);
     background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.movie-details{
    padding-left: 30px;
    color: var(--secondary-color);
    float: left;
    max-width: 35%;
    display: flex;
    gap:10px;
    flex-direction: column;
    align-content: space-between
}
.movie-details h1{
    text-transform: uppercase;
    font-size: 37px;
}
.rating{
    margin-bottom: 20px;
    display: flex;
    gap:20px;
    font-size: 12px;
}

.watch{
    display: flex;
    gap:20px;
    justify-content:flex-start;
    align-items:center;
    
}

.watch-btn{
    width: 110px;
    height: 50px;
    color: var(--secondary-color);
    border-radius: 15px;
    background-color: var(--active-color);
    font-weight: bold;
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.watch-btn:hover{
    cursor: pointer;
    background-color: red;
}

.party-container{
    margin-top: 25px;
    display: flex;
    justify-content: center;
 
}

.parties-title{
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    width: 100%;
}

.Parties{

    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  

}

.party-cards{
 
    width: 212px;
    height: 110px;
    background-color:#0d0d0e;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.card-top{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
}

.card-top .poster img{
 height: 30px;
 width: 45px;
 border-radius: 7px;
 -webkit-border-radius: 7px;
 -moz-border-radius: 7px;
 -ms-border-radius: 7px;
 -o-border-radius: 7px;
}
.party-cards .movie-info{
    padding: 10px 10px 0 10px;
}
.movie-info .Title{
    color: var(--secondary-color);
    font-size: 13px;
}
.movie-info .Genre{
    color:var(--primary-color);
    margin-top: 5px;
    font-size: 10px;
}


.Watching{

    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  

}

.movie-cards{
    width: 200px;
    height: 270px;
    background-color:#0d0d0e;
 
 
}

.movie-cards img{
    width:100%;
    border-radius: 12px;
    width: 100%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}